.mag-main-color {
    color: var(--mag-main-color);
}

.mag-secondary-color {
    color: var(--mag-secondary-color);
}

.mag-btn-secondary {
    background-color: var(--mag-secondary-color);
    border-color: var(--mag-secondary-color);
    color: white;
}

.mag-card-footer {
    background-color: unset;
    border-top: unset;
}

.mag-btn-sucess {
    background-color: var(--mag-sucess-color);
    border-color: var(--mag-sucess-color);
    color: white;
}

.mag-btn:hover {
    filter: grayscale(20%);
    color: white;
}

.mag-title {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {

    .mag-title {
        font-size: 3.5rem;
    }
}